.idea/
.DS_Store
output/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

test/query_benchmark_internal_test.go
test/query_internal_test.go

# Dependency directories (remove the comment below to include it)
# vendor/
